.wrap
  text-align: center
  min-height: 100vh
  background-color: teal

.header,.footer,.main,.aside, .nav
  background-color: lightgray
  border: 1px solid gray
  
.nav
  float: left

.header
  position: absolute
  top: 0
  width: 100%

.nav
  position: absolute
  top: 0
  left: 0
  width: 10rem
  height: 100%
  
.footer
  position: absolute
  bottom: 0
  width: 100%
